body{
    margin-top: 70px;    
    font-family: 'Montserrat', sans-serif;    
    /* background-color: #f2f2f2; */
}
nav{
    box-shadow: 0.5px 0.5px 20px  #000;
    /* box-shadow:  grey 5px 5px 55px ; */
    border-radius: 25px 0px 0px 0px;
}
ul li a{
    font-size: 20px;
    font-weight: bold;
}
h1 .titulo{    
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

h2{
    font-family: 'Montserrat', cursive;
    font-size: 20px;    
}
body h2{
    color: #ed3f0f;
}

.container-fluid {
    background: linear-gradient(217deg, rgba(237, 60, 11, 0.8), rgba(236, 17, 90, 0.822) 70.71%);    
    /* width: 90%; */
    height: 200px;
    /* margin: auto; */
    /* display: flex; */
    /* justify-content: center; */
}
.patrocinantes{    
    /* background: linear-gradient(217deg, rgba(237, 60, 11, 0.8), rgba(236, 17, 90, 0.822) 70.71%); */
    background: linear-gradient(217deg, rgba(225, 33, 7, 0.807), rgba(241, 16, 121, 0.8) 70.71%);    
}

footer{
    /* background:url('img/fondo.jpg') no-repeat; */
    background: linear-gradient(217deg, rgba(225, 33, 7, 0.807), rgba(241, 16, 121, 0.8) 70.71%);
    /* background: linear-gradient(to top,  rgba(26, 62, 224, 0.87) 20%, rgba(38, 201, 241, 0.9) 100%); */
    max-width: 100%;
    height: 100px;
    text-align: right;
    padding-right: 20px;
    border-radius: 0px 0px 0px 80%;
    /* z-index: 2; */
    /* display:flex;
    flex-direction: column; */
}
footer a{
    text-decoration: none;
}

.footer2{
    /* background:url('img/fondo.jpg') no-repeat; */
    /* background: linear-gradient(217deg, rgba(  243, 71, 41, 0.807), rgba(207, 16, 241, 0.8) 70.71%); */
    background: linear-gradient(to top,  rgba(32, 245, 145, 0.9) 20%, rgba(39, 191, 5, 0.87) 100%);
    max-width: 100%;
    height: 100px;
    text-align: left;
    padding-left: 5px;
    border-radius: 0px 80% 0px 0px;}
    
.h6{margin-left: 5px;
    font-family: 'Montserrat';     
    }    
    /* z-index: 2; */
    /* display:flex;
    flex-direction: column; */



/* @media screen and (min-width:768px) {
      
} */
